body {
  font-family: Georgia, "Times New Roman", Times, serif; /* Police d’écriture */
  background-color: #f5b26b; /* Couleur de fond */
  color: #000000; /* Couleur du texte */
  text-align: left; /* Aligner le texte à gauche */
  margin-left: 2cm; /* Marge de 2cm */
  padding: 0; /* Supprime les espacements */
}

header {
  background-color: white; /* Couleur du fond */
  color: rgb(195, 92, 7); /* Couleur du texte  */
  text-align: left; /* Aligner à gauche */
  padding: 20px; /* Espacement interne */
  transform: scale(1.1); /* aligner le header avec la page */
}

footer {
  background-color: rgb(255, 255, 255);
  color: rgb(185, 85, 4);
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

header nav a {
  margin-right: 20px; /* Espace entre les liens d'ancrage */
  text-decoration: none; /* Supprime le soulignement des liens  */
  color: inherit; /* Garder la couleur du header */
}

h1 {
  color: rgb(92, 42, 1);
  font-size: 36px; /* Taille du texte */
  margin-bottom: 10px; /* Espacement du bas */
  text-shadow: 2px 2px 5px rgb(255, 115, 0); /* Ombre du texte */
}

a {
  color: rgb(
    172,
    81,
    6
  ); /* On change la couleurs des uatres liens du body car bleu moche et reconnaitre que ce sont des liens */
}

#img1 {
  text-align: center; /* Centrer l'image */
}

.img2 {
  display: flex; /* Utilise Flexbox */
  align-items: center; /* Aligne verticalement */
}

.img3 {
  display: flex; /* Utilise Flexbox */
  align-items: center; /* Aligne verticalement */
}

p {
  font-size: 18px; /* Taille deu texte */
  line-height: 1.6; /* Ecartement des lignes */
  margin: 20px; /* Espacement autour des paragraphes */
}

table {
  margin-top: 50px; /* Espacement du haut */
  margin-bottom: 50px; /* Puis du bas */
  th,
  td {
    border: 1px solid black; /* Bordure noire */
    padding: 8px; /* Espacement interne */
    text-align: center; /* Aligne le texte au centre */
  }
  th {
    background-color: #f1d8ba;
  }
}

hr {
  border: none; /* Supprime la bordure par défaut */
  height: 2px; /* Épaisseur de la ligne */
  background-color: hsl(30, 97%, 36%); /* Sa couleur */
}
